.circular-progress-bar {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: -40px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  
  .circle-svg {
    transform: rotate(-90deg);
  }
  
  .circle-background {
    stroke: #d3d3d3;
  }
  
  .circle-progress {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .circle-text {
    position: absolute;
    top: 76%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #27293D;
  }
  